<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <% if (theme === 'dark') {
      %>
      <link rel="stylesheet" href="/stylesheets/dark.css">
      <%
   } else {
      %>
      <link rel="stylesheet" href="/stylesheets/light.css">
      <%
   } %>
   <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/accounts/profile.css' />
<%- include('../partials/head') %>
<script src="/scripts/accounts/profile.js" type="module"></script>
<script src="/scripts/accounts/navigation.js" defer></script>
<script src="/scripts/accounts/posts.js" defer></script>
<script src="/scripts/posts/interaction.js" defer></script>
<script src="/scripts/index.js" defer type="module"></script>
</head>
<body>

<% if (!profileOwner) { %>
<%- include('../partials/header', {
theme, title: 'hnverbook', leftIcon: 'Chevron Left', click: 'history.go(-1)', titleClick: null, rightButtons: [
   { icon: 'Copy', url: 'javascript:void(0)', click: null, size: 'small'},
   { icon: 'Dots', url: 'javascript:void(0)', click: null, size: 'small'}
]}) %>
   <% } else { %>
<%- include('../partials/header', {
theme, title: null, leftIcon: null, click: null, titleClick: null, rightButtons: [
   { icon: 'Align Right', url: '/settings', click: null, size: 'normal'}
]}) %>
<% } %>

<div id="app" class="app">
<div id="screen" class="screen">
<div class="main">
<div class="banner">
<p class="username">
<%= '@' + userData.username %>
</p>
<div class="bottom-banner">
<div class="left">
<img src="/images/user.jpg" width="75" height="75">
</div>
<div class="right">
<div class="table">
  <div class="row">
    <div class="cell">OBSERVER</div>
    <div class="cell">OBSERVING</div>
  </div>
  <div class="row">
    <div id="observerCount" class="cell"><%= connection.observerCount %></div>
    <div id="observingCount" class="cell"><%= connection.observingCount %></div>
  </div>
</div>
</div>
</div>
</div>
<div class="profile-name">
<p class="name"><%= userData.name %></p>
<% if(userData.verified) { %>
<img src="/icon/stroke/Verified Check/<%= theme === 'light' ? 'fe1d59' : 'ff5e89' %>/30/1.5" width="15" height="15" alt="verified">
<% } %>
</div>
<div class="info">
<p class="description"><%= userData.description %></p>
   <% if (userData.link) { %>
<div class="sociallinks">
<img src="/icon/stroke/Link/<%= theme === 'light' ? '171b20' : 'dbe1e8' %>/30/1.5" width="25" height="25" alt="link" title="Outgoing Link"><a href="<%= userData.link %>"><%= userData.link %></a>
</div>
<% } %>
</div>
<div class="actionViews">
   <% if (!profileOwner) { %>
<button id="observeBtn" class="observationState <%= connection.observing ? 'observing' : 'observe'%>"><%= connection.observing ? 'OBSERVING' : 'OBSERVE'%></button>
<% } else { %>
<button onclick="window.location.href = '/settings/account'" class="observationState">EDIT PROFILE</button>
<% } %>
<button class="shareProfile"><img src="/icon/stroke/Share/<%= theme === 'light' ? 'dbe1e8' : '171b20' %>/64/1.5" width="30" height="30" alt="link" title="Share"></button>
</div>
</div>
<div class="tabs">
<ul id="tabLists">
<li class="active">WORKSPACE</li>
<li>BLIP</li>
<li>STORYBOARD</li>
</ul>
</div>
<div id="post-blip" class="post-container">
   <%- docs %>
</div>
</div>
<%- include('../partials/navigation', {theme, active: 'account'}) %>
  
</div>
</body>
</html>