<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <% if (theme === 'dark') {
      %>
      <link rel="stylesheet" href="/stylesheets/dark.css">
      <%
   } else {
      %>
      <link rel="stylesheet" href="/stylesheets/light.css">
      <%
   } %>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel='stylesheet' href='/stylesheets/settings/account.css' />
<%- include('../partials/head') %>
   <script src="/scripts/authentication/reset.js" type="module"></script>
</head>
<body>

<%- include('../partials/header', {
theme, title: null, leftIcon: null, click: null, titleClick: null, rightButtons: [
   { icon: 'Arrow Left Square', url: 'javascript:void(0)', click: 'window.history.go(-1)', size: 'normal'}
]}) %>

<div id="app" class="app">
<div id="screen" class="screen">
<h2>RESET PASSWORD</h2>
  <%- include('../partials/errorMessage') %>
<form id="resetPassword" action="<%= continueReset ? '/account/reset-password/confirm' : '/account/reset-password/verify' %>" method="POST">
 <% if (!continueReset) { %>
 <section>
   <label for="email">Email</label>
   <input type="email" autocomplete="email" placeholder="Your Email" name="email" id="email" required>
 </section>
 <input type="submit" id="actionBtn" value="CONFIRM">
 <% } else { %>
 <section>
   <label for="password">Password</label>
   <input type="text" autocomplete="password" placeholder="Your Password" name="password" id="password" required>
 </section>
 <input type="submit" id="actionBtn" value="RESET">
 <% } %>

</form>
</div>
</div>
</body>
</html>