<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <% if (theme === 'dark') {
      %>
      <link rel="stylesheet" href="/stylesheets/dark.css">
      <%
   } else {
      %>
      <link rel="stylesheet" href="/stylesheets/light.css">
      <%
   } %>
   <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/posts/blip.css' />
<%- include('../partials/head') %>
   <script src="/scripts/index.js" type="module"></script>
   <script src="/scripts/posts/blip.js" defer></script>
</head>
<body>

<%- include('../partials/header', {
theme, title: null, leftIcon: null, click: null, titleClick: null, rightButtons: [
   { icon: 'Arrow Left Square', url: 'javascript:void(0)', click: 'window.history.go(-1)', size: 'normal'}
]}) %>

<div id="app" class="app">
<div id="screen" class="screen">
<h2 id="title" class="title"><%= postTitle %></h2>
<form id="blipPostForm" action="../create/new" method="post">
  <label for="contentType">Your Blip:</label>
  <%- include('../partials/errorMessage') %>
  <textarea id="description" name="description" placeholder="Enter words for your blip..." rows="10" cols="50" maxlength="250" required></textarea>
  <input type="hidden" name="keywords" id="keywords" value="<%= keywordsList %>">
  <input type="submit" id="postButton" value="POST —›">
</form>
</div>
</div>

</body>
</html>