<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <% if (theme === 'dark') {
      %>
      <link rel="stylesheet" href="/stylesheets/dark.css">
      <%
   } else {
      %>
      <link rel="stylesheet" href="/stylesheets/light.css">
      <%
   } %>
   <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/settings/account.css' />
<%- include('../partials/head') %>
   <script src="/scripts/settings/account.js" type="module"></script>
</head>
<body>

<%- include('../partials/header', {
theme, title: null, leftIcon: null, click: null, titleClick: null, rightButtons: [
   { icon: 'Arrow Left Square', url: 'javascript:void(0)', click: 'window.history.go(-1)', size: 'normal'}
]}) %>

<div id="app" class="app">
<div id="screen" class="screen">
<h2>UPDATE PROFILE</h2>
  <%- include('../partials/errorMessage') %>
<form id="updateProfileForm" action="/auth/update/profile" method="post">
 <p class="emailDetail">Email: <%= user.email %></p>
 <section>
   <label for="name">Name</label>
   <input type="text" autocomplete="name" placeholder="Your Name" name="name" id="name" value="<%= user.name %>" required>
 </section>
 <section>
   <label for="username">Username</label>
   <input type="text" autocomplete="username" placeholder="Your Username" name="username" id="username" value="<%= user.username %>" required>
 </section>
  <section>
        <label for="description">Description</label>
  <textarea id="description" name="description" placeholder="About yourself" maxlength="125"><%= user.description %></textarea>
   </section>
   <section>
   <label for="link">Link</label>
   <input type="url" autocomplete="link" placeholder="Website/Social link" name="link" id="link" value="<%= user.link %>">
 </section>
  <input type="submit" id="updateProfile" value="UPDATE">
</form>
<a class="resetPassOption" title="Rest Password" href="/account/reset-password">RESET PASSWORD?</a>
</div>
</div>
</body>
</html>